@charset "UTF-8";

@font-face {
  font-family: "Adieu";
  font-display: swap;
  src: url("../fonts/Adieu-Regular.woff2") format("woff2"), url("../fonts/Adieu-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FreightBigProLight-Italic";
  font-display: swap;
  src: url("../fonts/Freight Big Light Italic.woff2") format("woff2"), url("../fonts/Freight Big Light Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Обнуление */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ---------Конец Обнуления---------- */

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  background: #fff;
  -webkit-transition: all 0.5 ease 0;
  -o-transition: all 0.5 ease 0;
  transition: all 0.5 ease 0;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

body._lock {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5 ease 0;
  -o-transition: all 0.5 ease 0;
  transition: all 0.5 ease 0;
  z-index: 1;
}

.header_fixed {
  width: 100%;
  position: fixed;
  top: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#999), color-stop(#333), to(#999));
  background: -o-linear-gradient(top, #999, #333, #999);
  background: linear-gradient(180deg, #999, #333, #999);
  z-index: 3;
}

.header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 141px;
  z-index: 5;
}

.header_logo p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
}

.header_logo p:hover {
  background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(rgb(212, 212, 212)), to(#fff));
  background: -o-linear-gradient(left, #fff, rgb(212, 212, 212), #fff);
  background: linear-gradient(90deg, #fff, rgb(212, 212, 212), #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  scale: 1.2;
}

.menu_icon {
  display: none;
}

.menu_btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 73px;
  z-index: 5;
}

.btn_lang,
.btn_send {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  -webkit-transition: all 0.5;
  -o-transition: all 0.5;
  transition: all 0.5;
}

.btn_lang {
  padding: 10px;
}

.btn_lang:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#999), color-stop(#333), to(#999));
  background: -o-linear-gradient(top, #999, #333, #999);
  background: linear-gradient(180deg, #999, #333, #999);
  border: 1px solid rgba(253, 253, 253, 0.32);
}

.btn_send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 183px;
  height: 48px;
  border: 1px solid rgba(253, 253, 253, 0.32);
}

.btn_send:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#999), color-stop(#333), to(#999));
  background: -o-linear-gradient(top, #999, #333, #999);
  background: linear-gradient(180deg, #999, #333, #999);
}

.swiper {
  position: relative;
  margin-top: -96px;
  width: 100%;
  height: 744px;
  z-index: 0;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-scrollbar-drag {
  background: #fff;
}

.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  top: 460px;
  left: 65vw;
  width: 186px;
  height: 5px;
  background: #999;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  color: #FFFFFF;
  top: 460px;
  font-size: 1px;
}

.swiper-button-next {
  right: 17vw;
}

.swiper-button-prev {
  left: 62vw;
}

.slogan {
  position: relative;
  margin-left: 203px;
  max-width: 607px;
  margin-top: -460px;
  margin-bottom: 224px;
}

.slogan h3 {
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.slogan p {
  font-size: 10px;
  line-height: 12px;
  text-align: left;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.next_project {
  position: absolute;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 318px;
  height: 94px;
  bottom: 148px;
  right: 10px;
  display: block;
  text-align: left;
}

.next_project p {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.next_project h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 47px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

main {
  position: relative;
  width: 100%;
}

.menu_contacts_main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.contacts_social_main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  margin-left: 64px;
  font-weight: 600;
}

.contacts_social_main a {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.contacts_pin_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 79px;
  width: 117px;
  height: 24px;
  border: 1px solid #C4C4C4;
  border-radius: 12px;
  padding: 0 12px;
  cursor: pointer;
}

.contacts_pin_main:hover {
  background: rgba(196, 196, 196, 0.4);
}

.contacts_pin_main img {
  width: 7.24px;
  height: 10px;
}

.contacts_pin_main p {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  text-align: left;
  padding-right: 25px;
}

.contacts_tel_mail_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts_tel_mail_main a {
  margin-left: 40px;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.company {
  width: 100%;
  padding-left: 197px;
  padding-right: 20px;
}

.company_row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 140px;
}

.row1_text {
  max-width: 515px;
  max-height: 343px;
}

.row1_text h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #080808;
  margin-bottom: 28px;
}

.row1_text p {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #080808;
  opacity: 0.7;
}

.row1_text p:not(last-child) {
  margin-bottom: 24px;
}

.row1_text a {
  font-weight: 700;
  padding-top: 134px;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #080808;
}

.row1_img {
  max-width: 513px;
  max-height: 607px;
}

.row1_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.company_row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 78px;
  margin-bottom: 140px;
  padding-right: 215px;
}

.row2_img {
  position: relative;
}

.row2_img_img1 {
  width: 316px;
  height: 393px;
}

.row2_img_img2 {
  position: absolute;
  top: -125px;
  left: 236px;
  width: 279px;
  height: 172px;
}

.row2_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 430px;
  max-height: 140px;
  margin-top: 20px;
}

.row2_text span {
  font-size: 36px;
  line-height: 44px;
  color: #080808;
}

.row2_text p {
  font-weight: 300;
  font-size: 20px;
  line-height: 170.66%;
  color: #080808;
  opacity: 0.7;
  margin-left: 32px;
}

.our_projects {
  background: -o-radial-gradient(50% 50%, 50% 50%, #0F0F0F 0%, #080808 100%);
  background: radial-gradient(50% 50% at 50% 50%, #0F0F0F 0%, #080808 100%);
  width: 100%;
}

.our_projects_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our_projects_title h3 {
  margin-top: 140px;
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

.our_projects_title p {
  max-width: 449px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #828282;
  margin-bottom: 140px;
}

.our_projects_cards {
  margin: 0 56px 111px 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects_card {
  width: 653px;
  height: 653px;
  position: relative;
  cursor: pointer;
}

.projects_card:not(last-child) {
  margin-left: 8px;
  margin-bottom: 8px;
}

.projects_card :hover {
  scale: 1.01;
}

.projects_card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(16.12%, rgba(0, 0, 0, 0)), color-stop(101.15%, rgba(0, 0, 0, 0.63)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 16.12%, rgba(0, 0, 0, 0.63) 101.15%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 16.12%, rgba(0, 0, 0, 0.63) 101.15%);
}

.projects_card:hover::after {
  background: none;
}

.projects_card:hover .projects_card_top {
  display: none;
}

.projects_card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects_card_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 32px;
  left: 32px;
}

.projects_card_top p {
  margin-right: 18px;
  font-weight: 500;
  font-size: 11px;
  line-height: 170%;
  color: #FFFFFF;
}

.projects_card_title {
  position: absolute;
  bottom: 77px;
  left: 32px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #FFFFFF;
}

.projects_card_link {
  position: absolute;
  bottom: 40px;
  left: 32px;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.large {
  position: relative;
  width: 1314px;
  height: 653px;
}

.large img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.small {
  position: relative;
  width: 653px;
  height: 653px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.small::after {
  content: "";
  background: none;
}

.small:hover img {
  scale: 1.1;
}

.small div {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #080808;
  margin-bottom: 24px;
}

.small img {
  width: 243px;
  height: 323px;
  -o-object-fit: cover;
     object-fit: cover;
}

.make_request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 180px;
}

.make_request h3 {
  margin-left: -600px;
  width: 424px;
  margin-top: 69px;
  font-weight: 700;
  font-size: 36px;
  line-height: 51px;
  color: #FFFFFF;
  z-index: 1;
}

.make_request p {
  margin-right: -600px;
  width: 339px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  z-index: 1;
}

.make_request button {
  margin-top: 58px;
  margin-right: -450px;
  width: 183px;
  height: 48px;
  text-align: center;
  background: #FFFFFF;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #080808;
}

.make_request button:hover {
  background: #ececec;
}

.img_make {
  position: relative;
}

.img_make_1,
.img_make_2,
.img_make_3,
.img_make_4,
.img_make_5,
.img_make_6,
.img_make_7,
.img_make_8,
.img_make_9,
.img_make_10 {
  position: absolute;
  width: 211px;
  height: 273px;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
  cursor: pointer;
}

.img_make_1:hover,
.img_make_2:hover,
.img_make_3:hover,
.img_make_4:hover,
.img_make_5:hover,
.img_make_6:hover,
.img_make_7:hover,
.img_make_8:hover,
.img_make_9:hover,
.img_make_10:hover {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  scale: 1.2;
  z-index: 1;
}

.img_make_1 img,
.img_make_2 img,
.img_make_3 img,
.img_make_4 img,
.img_make_5 img,
.img_make_6 img,
.img_make_7 img,
.img_make_8 img,
.img_make_9 img,
.img_make_10 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img_make_1 {
  top: -250px;
  left: -350px;
}

.img_make_2 {
  top: -270px;
  left: -300px;
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.img_make_3 {
  top: -300px;
  left: -250px;
}

.img_make_4 {
  top: -330px;
  left: -200px;
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.img_make_5 {
  top: -340px;
  left: -150px;
}

.img_make_6 {
  top: -360px;
  left: -70px;
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.img_make_7 {
  top: -380px;
  left: -30px;
}

.img_make_8 {
  top: -400px;
  left: 10px;
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.img_make_9 {
  top: -420px;
  left: 50px;
}

.img_make_10 {
  top: -440px;
  left: 100px;
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.social_text {
  max-width: 427px;
  margin: 345px 0;
  position: relative;
}

.social_text h3 {
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  color: #080808;
  margin-bottom: 18px;
}

.social_text p {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #080808;
  opacity: 0.6;
}

.social_img_1,
.social_img_2,
.social_img_3,
.social_img_4,
.social_img_5,
.social_img_6,
.social_img_7,
.social_img_8 {
  position: absolute;
  z-index: -1;
}

.social_img_1 img,
.social_img_2 img,
.social_img_3 img,
.social_img_4 img,
.social_img_5 img,
.social_img_6 img,
.social_img_7 img,
.social_img_8 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.social_img_1 {
  top: -480px;
  left: 19vw;
  width: 348px;
  height: 231px;
}

.social_img_2 {
  top: -300px;
  left: 35vw;
  width: 271px;
  height: 180px;
}

.social_img_3 {
  top: 80px;
  left: 36vw;
  width: 402px;
  height: 282px;
}

.social_img_4 {
  top: 350px;
  left: 22vw;
  width: 214px;
  height: 142px;
}

.social_img_5 {
  top: 180px;
  left: -25vw;
  width: 385px;
  height: 189px;
}

.social_img_6 {
  top: 350px;
  left: -36vw;
  width: 271px;
  height: 180px;
}

.social_img_7 {
  top: -160px;
  left: -44vw;
  width: 348px;
  height: 231px;
}

.social_img_8 {
  top: -290px;
  left: -24vw;
  width: 271px;
  height: 180px;
}

.contacts {
  position: relative;
  width: 100%;
  background: -o-radial-gradient(50% 50%, 50% 50%, #0F0F0F 0%, #080808 100%);
  background: radial-gradient(50% 50% at 50% 50%, #0F0F0F 0%, #080808 100%);
  min-height: 669px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts img {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.08;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts_container {
  height: 100%;
  padding: 0 194px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts_title {
  max-width: 390px;
  margin-top: 56px;
}

.contacts_title h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.contacts_title p {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.6;
  margin-bottom: 72px;
}

.contacts_row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.contacts_cityes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 102px;
     -moz-column-gap: 102px;
          column-gap: 102px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cityes_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 133px;
  color: #FFFFFF;
}

.cityes_item h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 24px;
  margin-top: 23px;
}

.cityes_item p {
  font-weight: 300;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.06em;
  opacity: 0.6;
}

.button {
  margin-top: 64px;
  width: 183px;
  height: 48px;
  text-align: center;
  background: #FFFFFF;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #080808;
  z-index: 1;
  margin-bottom: 64px;
}

.button:hover {
  background: #ececec;
}

.contacts_mail {
  margin-top: 40px;
}

.contacts_mail a {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.contacts_mail div {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.footer {
  height: 26px;
  width: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 64px;
  margin: 0 auto;
}

.footer p {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #828282;
}

.footer_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.footer_right_slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_right_slogan p {
  font-family: "Adieu";
  font-style: italic;
  font-weight: 400;
  font-size: 12.6864px;
  line-height: 80%;
  color: #FFFFFF;
  margin-right: 20px;
  text-align: left;
}

.footer_right_slogan span {
  font-family: "FreightBigProLight-Italic";
  font-weight: 400;
  text-align: right;
  font-size: 15.2236px;
  line-height: 80%;
  color: #FFFFFF;
}

@media (min-width: 980px) {
  .contacts_wrapper {
    height: 100%;
  }
}

@media (min-width: 1024px) {
  .header_menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu_body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu_list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 48px;
  }

  .menu_list li a {
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    z-index: 1;
  }

  .menu_list li:first-child {
    display: none;
  }

  .menu_link:hover {
    background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(rgb(212, 212, 212)), to(#fff));
    background: -o-linear-gradient(left, #fff, rgb(212, 212, 212), #fff);
    background: linear-gradient(90deg, #fff, rgb(212, 212, 212), #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .menu_contacts {
    display: none;
  }
}

@media (max-width: 1242px) {
  .company {
    padding-left: 0px;
  }

  .company_row1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .row1_img {
    margin-top: 20px;
  }

  .company_row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0;
  }
}

@media (max-width: 1093px) {
  .contacts_mail {
    position: absolute;
    bottom: -90%;
    right: 20%;
  }
}

@media (max-width: 1024px) {
  .menu_icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    top: 10px;
  }

  .menu_icon span,
  .menu_icon::before,
  .menu_icon::after {
    right: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
  }

  .menu_icon p {
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding-left: 53px;
    padding-top: 6px;
  }

  .menu_icon._active p {
    display: none;
  }

  .menu_icon::before {
    content: "";
    width: 30px;
    display: none;
  }

  .menu_icon::after {
    content: "";
    width: 30px;
  }

  .menu_icon::before {
    top: 0;
  }

  .menu_icon::after {
    bottom: 0;
  }

  .menu_icon span {
    height: 3px;
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .menu_icon._active {
    top: 15px;
    right: 0px;
  }

  .menu_icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .menu_icon._active::before {
    display: block;
    width: 30px;
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu_icon._active::after {
    width: 30px;
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .menu_body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #000;
    padding: 60px 30px 30px 5px;
    z-index: 4;
    margin-top: 0px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu_body._active {
    left: 0;
  }

  .menu_body._active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 96px;
    background: #000;
    z-index: 3;
  }

  .menu_list {
    padding-top: 212px;
    padding-left: 231px;
  }

  .menu_list li {
    padding-bottom: 42px;
    text-align: left;
  }

  .menu_list li:last-child {
    padding-bottom: 0;
  }

  .menu_link {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    opacity: 0.5;
  }

  .menu_link:hover {
    opacity: 1;
  }

  .menu_contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 40px;
  }

  .contacts_social {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    margin-left: 64px;
    font-weight: 600;
  }

  .contacts_social a {
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
  }

  .contacts_pin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 79px;
    width: 117px;
    height: 24px;
    border: 1px solid #C4C4C4;
    border-radius: 12px;
    padding: 0 12px;
    cursor: pointer;
  }

  .contacts_pin:hover {
    background: rgba(196, 196, 196, 0.4);
  }

  .contacts_pin img {
    width: 7.24px;
    height: 10px;
  }

  .contacts_pin p {
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-align: left;
    padding-right: 25px;
  }

  .contacts_tel_mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contacts_tel_mail a {
    margin-left: 40px;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
  }

  .make_request h3 {
    margin-left: 0px;
    text-align: center;
    margin-bottom: 24px;
  }

  .make_request p {
    margin-right: 0px;
    text-align: center;
  }

  .make_request button {
    margin-right: 0px;
  }

  .img_make {
    display: none;
  }
}

@media (max-width: 990px) {
  .contacts_mail {
    position: relative;
    bottom: 0;
    right: 0;
  }
}